@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly Rental Store</h1>
    <p class="lead">The place to rent the best movies</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>Take a look at our extensive list of movies</p>
        @Html.ActionLink("Learn more", "Index", "Movies", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>See our list of customers</p>
        @Html.ActionLink("Learn more", "Index", "Customers", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>New Rental</h2>
        <p>Start a new rental</p>
        @Html.ActionLink("Learn more", "New", "Rentals", null, new { @class = "btn btn-default" })
    </div>
</div>